<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <link rel='stylesheet' href='ribbon.css' meta http-equiv="Content-Type" content="application/xml+xhtml; charset=UTF-8" /> 
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <title>UglySleep</title>
  </head>
  <body>
    <h1>UglySleep.<span style="color: yellow;">today</span><h1>
        <br />
        <p style="color: red;"> <%= sdata[2] %></p>
        <br />
        <p> <span style="color: green;"> <%= sdata[0] %> </span>hours of sleep </p>
        <br />
        <p> Woke up <span style="color: blue;"> <%= sdata[1] %> </span>times while sleeping </p>
        <!--  <a class="github-fork-ribbon" href="https://github.com/theden/badfood" target="_blank" title="Fork me on GitHub">Fork me on GitHub</a> -->
<!--  <div id="img-wrap">
    <img src="images/banner.png" alt="BadFood Banner" />
  </div>
  -->
  <div id="link-wrap">
    <a style="display: inline-block; float: left; text-decoration: none;" href="http://theden.sh" target="_blank">✌theden.sh</a>
		<a style="display: inline-block; float: right; text-decoration: none; color: pink;">fork me</div></a>
  </div>
</body>
</html>
