<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
		<link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76175181-6"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-76175181-6');
</script>
<title>UglySleep</title>
	</head>
	<body>
		<h1><span style="color: grey;">Ugly</span>Sleep</h1>
		<br />
		<p>Today</p>
		<p style="color: red;"> <%= sdata[2] %></p>
		<br />
		<p> <span style="color: green;"> <%= sdata[0] %> </span>hours of sleep </p>
		<br />
		<p> Woke up <span style="color: blue;"> <%= sdata[1] %> </span>times while sleeping </p>
		<br />
		<div id="link-wrap">
			<a style="display: inline-block; float: left; text-decoration: none;" href="http://theden.sh" target="_blank">✌theden.sh</a>
			<a style="display: inline-block; float: right; text-decoration: none; color: pink;" href="https://github.com/TheDen/uglysleep.today" target="_blank">fork me</a>
		</div>
	</body>
</html>
