html{
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}


h1, p {
  text-align: center;
  color: white;
  font-size: 4.5vh;
}

#link-wrap {
//  text-align:center;
  position: fixed !important;
  font-size: 12px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  display: inline-block;
  font-size: 2vh;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding-bottom: 5px;
}

/* Mozilla based browsers */
::-moz-selection {
       background-color: white;
       color: yellow;
}

/* Works in Safari */
::selection {
       background-color: white;
       color: yellow;
}

@keyframes greywhite {
  0% {
    color: grey;
  }
  49% {
    color: grey;
  }
  50% {
    color: white;
  }
  99% {
    color: white;
  }
}

.anim-grey-white {
  animation: 2s greywhite infinite;
}
.anim-white-grey {
  animation: 2s greywhite 1s infinite;
}
